<div class="main-page">

  <div class="imglogo">
    <img src='../../assets/myflix-logo.png' class="logo" alt="app logo myflix" width=340, height=auto />
  </div>

  <div class="buttons">

    <button mat-raised-button color="warn" class="loginbtn" (click)="openUserLoginDialog()" style="margin-right: 10px;">
      Login
    </button>
    <span class="member-text">Not yet a member? </span>

    <button mat-button class="regbtn" (click)="openUserRegistrationDialog()" style="margin-right: 10px;" color="basic">
      Register Now
    </button>
  </div>

</div>