$bgcolor: #000000;
$textcolor: #fff;
$logocolor: #e50913;
$textfont: 'Open Sans', sans-serif;
$titlefont: 'Bebas Neue', sans-serif;
$impactfont: 'Rampart One', sans-serif;
$textsize: 15px;
$titlesize: 28px;
$titleweight: 600;
$textweight: 400;

.syn-container{
  background-color: $bgcolor;
  color:$textcolor;
  border-color: $logocolor;
  padding: 10px;
  justify-content: center;
  text-align: center;
}
.header{
    display: flex;
  justify-content: space-between;
}
.title{
  font-family: $titlefont;
  font-size: $titlesize;
  font-weight: $titleweight;
}
.syndesc{
  font-family: $textfont;
  font-weight: $textweight;
  font-size: $textsize;
}
.close{
  color:$logocolor;
}
// .movieimg{
//   justify-content: center;
// }